<!DOCTYPE html>
<html>
<head>
  <title>Group404</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="well">
  <h1>Simple Students Registry</h1>
</div>
<div class="container app">
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group">
        <a class="list-group-item" href="#">Students list</a>
        <a class="list-group-item" href="#">Top 10 Students</a>
      </div>
    </div>
    <div class="col-sm-8">
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
